<h1>Welcome to Viewing Party!</h1>
<h3>The app that lets you set up movie date with your friends!</h3>
<%= button_to 'login', new_login_path, method: :get %>
<%= button_to 'register', new_user_path, method: :get %>
